table, tr, td {
  border: 1px solid #abc;
}

table {
  border-collapse: collapse;
}

/*button{
  color: #e6e6ea;
  font-weight: bold;
  height: 30px;
  width: 60px;
  background-color: #9147FF;
  border-radius: 5px;
  position: absolute;
  top: 710px;
}*/

button{

 position: absolute;
    height: 30px;
  width: 60px;
  
}
td {
  width: 30px;
}
tr {
  height: 50px;
}
body{
  background-color: #0e0e10;
}

.container{
  width: 1160px;
  position: absolute;
  top: 50px;
  left: 50px;
}

#result{
  position: absolute;
  right: 0;
  top: 0;
  height: 700px;
  width: 280px;
  background-color: #18181b;
  color: #efeff1;
  resize: none;
  font-family: Roobert,Helvetica Neue,Helvetica,Arial,sans-serif;
}

#clear-button{
  position: absolute;
  left: 910px;
  bottom: 95px;
}
#copy-button{
  position: absolute;
  left: 1100px;
  bottom: 95px;
}

#create-button{
  position: absolute;
  left: 910px;
  bottom: 95px;
}

#logo{
  width: 65px;
  left: 25px;
  bottom: 25px;
  border-radius: 100px;
  position: absolute;
  top: 820px;
}

#title{
  color: white;
  left: 100px;
  top: 815px;
  position: absolute;
}
